Flask==0.11.1
beautifulsoup4==4.4.1
click==6.6
cssselect==0.9.2
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.1
itsdangerous==0.24
jieba3k==0.35.1
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
newspaper
nltk==3.2.1
Pillow==3.2.0
python-dateutil==2.5.3
PyYAML==3.11
requests==2.10.0
requests-file==1.4
six==1.10.0
tldextract==2.0.1
Werkzeug==0.11.10


#Data
psycopg2==2.6.1
Flask-SQLAlchemy==2.1
SQLAlchemy==1.0.13
SQLAlchemy-Utils
SQLAlchemy-Searchable

# Application server for both development and production.
gunicorn==19.4.5
